---
import type { CollectionEntry } from "astro:content";
import type { Node } from "../../types";

export type Props = {
  node: Node<CollectionEntry<"documents">>;
};

const { node } = Astro.props;

const isActive = decodeURI(Astro.url.pathname).startsWith(node.permalink);

const isFolder = node.children && node.children.length;
---

<li
  class:list={[
    "w-full rounded-lg font-menu text-menu-foreground dark:text-menu-foreground-dark",
    !isFolder && 'py-1 px-2 hover:bg-menu-active-background dark:hover:bg-menu-active-background-dark',
    !isFolder && isActive && "bg-menu-active-background dark:bg-menu-active-background-dark",
  ]}
>
  {
    !isFolder && node.data ? (
      <a
        href={node.permalink}
        title={node.data.data.title}
        class="truncate block"
      >
        {node.data.data.title}
      </a>
    ) : null
  }
  {
    isFolder ? (
      <details class="marker:content-none" open={isActive}>
        <summary class="capitalize mb-0.5 rounded-lg py-1 px-2 cursor-pointer hover:bg-menu-active-background dark:hover:bg-menu-active-background-dark">
          {node.name}
        </summary>
        <ul class="flex flex-col gap-0.5 ms-2">
          {node.children?.map((c) => (
            <Astro.self node={c} />
          ))}
        </ul>
      </details>
    ) : null
  }
</li>
