---

import AstroLogo from '../content/vault/Assets/logos/astro.png';
import ObsidianLogo from '../content/vault/Assets/logos/obsidian.svg';

import website from "../../website.config.mjs";

import Layout from "../components/Layout.astro";
import LeftSidebar from "../components/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar.astro";
import {
DOCUMENTS_COLLECTION_NAME,
} from "../constants";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { buildTree } from "../helpers/buildTree";

const documents = await getCollection(DOCUMENTS_COLLECTION_NAME);

const tree = buildTree(documents);
---

<Layout page={{
  title: website.title,
  language: website.defaultLanguage,
  seo: {
    description: website.description,
  }
}}>
  <LeftSidebar website={website} navigation={{...{
    tree,
    backlinks: [],
  }}} />
  <article class="flex flex-col gap-24 rounded-4xl items-center grow-1 justify-center p-3 max-w-full">
    <section class="flex flex-col gap-6 items-center">
      <h1 class="text-6xl lg:text-8xl font-title text-article-title-foreground dark:text-article-title-foreground-dark">{website.title}</h1>
      <p class="text-3xl font-heading text-paragraph-foreground dark:text-paragraph-foreground-dark">
        {website.description}
      </p>
    </section>
    <section class="flex flex-col lg:flex-row bg-article-background dark:bg-article-background-dark rounded-4xl items-center justify-center py-8 min-w-[80%] shadow-lg">
      <Image src={AstroLogo} alt="" class="w-[50vw] lg:w-[512px]"  />
      <span class="text-9xl text-paragraph-foreground dark:text-paragraph-foreground-dark">+</span>
      <Image src={ObsidianLogo} alt="" class="w-[50vw] lg:w-[512px]" />
    </section>
  </article>
  <RightSidebar navigation={{...{
    tree,
    backlinks: [],
  }}} />
</Layout>